<!--
	See for reference:
	http://logback.qos.ch/manual/configuration.html
	NOTE We do not ever want to log anything to stdout,
	  as it is reserved for AWK script output.
-->
<configuration scan="true">

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDERR" />
	</root>
</configuration>
