# When a release is created:
# - Build the package
# - Deploy to GitHub Packages
# - Upload as an asset to the release

name: Maven Release

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      checks: write
      actions: read
      issues: read
      pull-requests: read
      repository-projects: read
      statuses: read
      
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build and Deploy to GitHub Packages Apache Maven
      run: mvn -B deploy --file pom.xml -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Get Artifact Name
      shell: bash
      run: |
        echo "artifact_name=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> "$GITHUB_ENV"

    - name: Get Artifact Version
      shell: bash
      run: |
        echo "artifact_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_ENV"
        
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./target/${{ env.artifact_name }}-${{ env.artifact_version }}-stand-alone.jar
        asset_name: jawk.jar
        asset_content_type: application/jar
